/* ========================================
   LAYOUT
======================================== */
.title-group {
  margin-bottom: var(--space-m);
}

/* ========================================
   CARDS
======================================== */

.card {
  padding: var(--space-m-l);
  margin: 1rem;
  max-width: 500px;
  background-color: var(--card);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: var(--space-m-l);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: var(--text-weak, #555);
}
