/* ========================================
   LAYOUT
======================================== */
.title-group {
  margin-bottom: var(--space-m);
}

/* ========================================
   CARDS
======================================== */

.card {
  padding: var(--space-l-xl);
  margin: 1rem;
  max-width: 500px;
  background-color: var(--card);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: var(--space-m-l);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: var(--text-weak, #555);
}

/* ========================================
   FORM
======================================== */
form {
  display: flex;
  flex-direction: column;
  gap: var(--space-l-xl);
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs-xs);

  margin-top: var(--space-s-m);
  margin-bottom: var(--space-s-m);

  & > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  input {
    padding: var(--space-xs);
    border: 2px solid var(--stroke-weak);
    border-radius: var(--radius);
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;

    background-color: var(--background-field);

    &:hover {
      border: 2px solid var(--color-primary);
    }
    &:focus {
      border: 2px solid var(--color-primary);
      box-shadow: 0 0 3px 0px var(--color-primary);
    }
  }
}

.btn {
  width: 100%;
}
