/* ========================================
   IMPORTS
======================================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* ========================================
   RESET & BOX-SIZING
======================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ========================================
   ROOT VARIABLES
======================================== */
:root {
  --color-primary: hsl(230, 58%, 52%);
  --text-strong: hsla(230, 15%, 10%, 1);
  --text-weak: hsla(230, 15%, 10%, 0.6);
  --stroke-strong: hsla(230, 15%, 10%, 0.4);
  --stroke-weak: hsla(230, 15%, 10%, 0.3);
  --fill: hsla(230, 15%, 10%, 0.2);
  --card: hsl(230, 58%, 95%);
  --background: hsl(230, 20%, 80%);
  --background-field: #f9f9f9;
  --radius: 8px;
  --shadow: 0 2px 6px hsla(230, 15%, 40%, 0.1);
  --transition: 180ms cubic-bezier(0.2, 0.9, 0.3, 1);

  /* @link https://utopia.fyi/space/calculator?c=360,16,1.2,1536,18,1.414,4,2,&s=0.5,1.5|2|3|5,s-l&g=s,l,xl,12 */
  --space-2xs: clamp(0.25rem, 0.2309rem + 0.085vw, 0.3125rem);
  --space-xs: clamp(0.5rem, 0.4809rem + 0.085vw, 0.5625rem);
  --space-s: clamp(1rem, 0.9617rem + 0.1701vw, 1.125rem);
  --space-m: clamp(1.5rem, 1.4426rem + 0.2551vw, 1.6875rem);
  --space-l: clamp(2rem, 1.9235rem + 0.3401vw, 2.25rem);
  --space-xl: clamp(3rem, 2.8852rem + 0.5102vw, 3.375rem);
  --space-2xl: clamp(5rem, 4.8087rem + 0.8503vw, 5.625rem);

  /* One-up pairs */
  --space-2xs-xs: clamp(0.25rem, 0.1543rem + 0.4252vw, 0.5625rem);
  --space-xs-s: clamp(0.5rem, 0.3087rem + 0.8503vw, 1.125rem);
  --space-s-m: clamp(1rem, 0.7895rem + 0.9354vw, 1.6875rem);
  --space-m-l: clamp(1.5rem, 1.2704rem + 1.0204vw, 2.25rem);
  --space-l-xl: clamp(2rem, 1.5791rem + 1.8707vw, 3.375rem);
  --space-xl-2xl: clamp(3rem, 2.1964rem + 3.5714vw, 5.625rem);

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  color: var(--text-weak);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Inter", sans-serif, system-ui;
}

body {
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* ========================================
   TYPOGRAPHY
======================================== */
:root {
  /* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1536,18,1.414,4,2,&s=0.5,1.5|2|3|5,s-l&g=s,l,xl,12 */

  /* Step -2: 11.1111px → 9.0027px */
  --step--2: clamp(0.5627rem, 0.7348rem + -0.1793vw, 0.6944rem);
  /* Step -1: 13.3333px → 12.7298px */
  --step--1: clamp(0.7956rem, 0.8449rem + -0.0513vw, 0.8333rem);
  /* Step 0: 16px → 18px */
  --step-0: clamp(1rem, 0.9617rem + 0.1701vw, 1.125rem);
  /* Step 1: 19.2px → 25.452px */
  --step-1: clamp(1.2rem, 1.0804rem + 0.5316vw, 1.5908rem);
  /* Step 2: 23.04px → 35.9891px */
  --step-2: clamp(1.44rem, 1.1922rem + 1.1011vw, 2.2493rem);
  /* Step 3: 27.648px → 50.8886px */
  --step-3: clamp(1.728rem, 1.2833rem + 1.9762vw, 3.1805rem);
  /* Step 4: 33.1776px → 71.9565px */
  --step-4: clamp(2.0736rem, 1.3317rem + 3.2975vw, 4.4973rem);
}

h1 {
  font-size: var(--step-4);
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--text-strong);
}
h2 {
  font-size: var(--step-3);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--text-strong);
}
h3 {
  font-size: var(--step-2);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--text-strong);
  line-height: 1;
}
h4 {
  font-size: var(--step-1);
  font-weight: 800;
  letter-spacing: -0.01em;
  color: var(--text-weak);
}
/* body */
p {
  font-size: var(--step-0);
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--text-weak);
}
p.small,
#userTable,
input,
label,
button {
  font-size: var(--step--1);
  font-weight: 300;
  letter-spacing: 0;
  color: var(--text-weak);
}
p.tiny {
  font-size: var(--step--2);
  font-weight: 400;
  letter-spacing: -0em;
  color: var(--text-weak);
}

h1,
h2,
h3,
h4,
p,
input,
label {
  margin-top: var(--space-xs-s);
  margin-bottom: var(--space-xs-s);
}
strong {
  font-weight: 600;
}

/* ========================================
   BUTTON
======================================== */

.btn {
  font-weight: 600;
  border-radius: var(--radius);
  padding: 0.7rem 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease;

  &.small {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
  }

  &.primary {
    background: var(--color-primary);
    color: white;
    border: none;

    &:hover {
      background: color-mix(in srgb, var(--color-primary) 80%, black 10%);
    }
  }

  &.secondary {
    background: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    &:hover {
      background: rgba(74, 92, 240, 0.08);
    }
    &.small {
      border-width: 1px;
    }
  }

  &.tertiary {
    background: none;
    border: none;
    color: var(--color-primary);
    text-decoration: underline transparent;
    &:hover {
      text-decoration-color: var(--color-primary);
    }
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ========================================
   OTHERS
======================================== */

hr {
  border: none;
  border-bottom: 2px solid var(--stroke-weak);
}
